.container {
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  font-family: "Arimo",sans-serif;
  gap: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #210207;
  border-radius: 6px;
}

.saveBtn {
  background: #210207;
  color: white;
  border: none;
  padding: 10px;
  font-family: "Arimo",sans-serif;
  border-radius: 6px;
  cursor: pointer;
}

.savedTitle {
  margin-top: 2rem;
}

.addressCard {
  border: 1px solid #210207;
  padding: 1rem;
  font-family: "Arimo",sans-serif;
  border-radius: 8px;
  margin-top: 1rem;
  position: relative;
}

.defaultBadge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #210207;
  color: white;
  padding: 3px 8px;
  font-family: "Arimo",sans-serif;
  font-size: 12px;
  border-radius: 4px;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.actions button {
  padding: 6px 10px;
  font-family: "Arimo",sans-serif;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}